
*{
    border: 0px;
    padding: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
#boton{
    display: none;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: #e6ae02;
}
#menu img{
    width: 5%;
}
#menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 80%;
    height: 100%;
}
#menu ul a{
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 110%;
}

#menu ul a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 2px;
    background-color: #fff;
    transition: width .3s;
}
#menu ul a:hover::after{
    width: 100%;
    transition: width .3s;
}
/* Informacion */
#texto{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--tipografia);
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#texto-info{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 74%;
}
#linea{
    width: 1px;
    height: 500px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(177, 177, 177);
    margin-top: 3%;
}
#img-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
#img-texto img{
    width: 60%;
}

/* Footer */
.footer{
    width: 100% !important;
    height: 420px !important;
}
@media(max-width: 1440px){
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 75px;
        background-color: red;
    }
}

@media(max-width: 1366px){
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 75px;
        background-color: blue;
    }
}

@media(max-width: 900px){
    #menu ul{
        display: none;
    }
    #menu img{
        width: 10%;
    }
    #boton{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        height: 100%;
        font-size: 200%;
        color: white;
        cursor: pointer;
    }
    #texto-info{
        display: flex;
        flex-direction: column;
        padding: 1%;
        width: 98%;
        text-align: justify;
    }
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 75px;
        background-color: #e6ae02;
    }
}

